@media (min-width: 1024px) {
  nav[style*="translateX(-50%)"] > div:first-child {
    justify-content: flex-start;
  }

  nav[style*="translateX(-50%)"] > div:first-child > a + div {
    margin-left: auto;
  }

  nav[style*="translateX(-50%)"] > div:first-child > a + div > a,
  nav[style*="translateX(-50%)"] > div:first-child > a + div > button,
  nav[style*="translateX(-50%)"] > div:first-child > a + div + div > a:first-child {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
